# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bd1f934496a1d3e6cac42b01222e2dc6669c3c7aa2daf342f4e3d01b8c4ed987b30c6546705ee9e43f1dd1c3635be9542c474df9140672778fc366f7bac2bf2c

test:
  secret_key_base: e7825d4c7ca543bc7c5d643c73bee6b783cd753386f969706f2150b6db1dd91d7bca081749b25a5597e281c08bfeb442e10e2aa654fcffa8e62b193af58b5363

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
